# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

env/

# Database
*.db
mairie.db

# Flask uploads
backend/uploads/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
