<!DOCTYPE html>
<html>

<head>
<title>Espace citoyen</title>
<link rel="stylesheet" href="{{ url_for('static', filename='mairie.css') }}">
</head>

<body>

<h2>Mes démarches</h2>

<form id="demandeForm" enctype="multipart/form-data">

    <select id="demande" name="type_demande">
        <option>Acte de naissance</option>
        <option>Certificat de résidence</option>
        <option>Demande d'information</option>
    </select>

    <br><br>

    <input type="file" id="document" name="document">

    <br><br>

    <button type="submit">Envoyer</button>

</form>

<p id="message"></p>

<script src="{{ url_for('static', filename='script.js') }}"></script>

<a href="/mes_demandes">
    <button class="btn btn-primary">Voir mes demandes</button>
</a>

</body>

</html>