<!DOCTYPE html>
<html>
<head>
    <title>Mes demandes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mairie.css') }}">
</head>
<body>

<h2>Mes demandes</h2>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type de demande</th>
            <th>Statut</th>
            <th>Document</th>
        </tr>
    </thead>

    <tbody id="listeDemandes">

    </tbody>
</table>

<br>

<a href="/espace">
    <button>Retour à l'espace citoyen</button>
</a>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>